<%= form_with(model: @album) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :photo_images, "Tải lên ảnh" %>
    <%= form.file_field :photo_images, multiple: true, id: 'photo_images_field' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
