<%= form_with(model: photo) do |form| %>
  <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
